<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body><!-- This page is made in the backend and sent to the front -->
    <h1><%= header %></h1>
    <p>Username: <%= data.username %></p>
    <p>Password: <%= data.password %></p>
    <a href="/">Home</a>
</body>
</html>